<p id="notice"><%= notice %></p>

<h1>Listing Monederos</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Student</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monederos.each do |monedero| %>
      <tr>
        <td><%= monedero.student.nombre %></td>
        <td><%= monedero.cantidad %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
