<p id="notice"><%= notice %></p>

<h1>Listing Depositos</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Student</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @depositos.each do |deposito| %>
      <tr>
        <td><%= deposito.student.nombre %></td>
        <td><%= deposito.cantidad %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deposito', new_deposito_path %>
