<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @deposito.student.nombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @deposito.cantidad %>
</p>

<%= link_to 'Back', depositos_path %>
