<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @update_stock.product.nombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @update_stock.cantidad %>
</p>

<%= link_to 'Back', update_stocks_path %>
